.button {
  background: #c70101;
  width: 153px;
  height: 32px;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}

.button_main {
  margin-top: 67px;
  width: 300px;
  height: 50px;
  font-size: 16px;
  line-height: 25px;
}

.promo {
  min-height: 650px;
  padding: 21px 0 93px 0;
  background: url(../img/bg_header.jpg) center center/cover no-repeat;
}

.promo__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-top: 90px;
}

.promo__header {
  font-weight: bold;
  font-size: 42px;
  text-transform: uppercase;
  line-height: 42px;
  color: #FFFFFF;
}

.promo__subheader {
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 17px;
}

.promo__icons {
  margin-top: 65px;
  width: 425px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.promo__icon {
  width: 106px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
}

.promo img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.promo__link {
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  margin-top: 18px;
}

.promo__link a {
  text-decoration: underline;
  color: #FFFFFF;
  text-transform: uppercase;
}

.benefits {
  padding: 73px 0 83px 0;
}

.benefits__subheader {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: #0D0D0D;
}

.benefits__title {
  margin-top: 30px;
  font-weight: bold;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  color: #0D0D0D;
}

.benefits__descr {
  margin-top: 20px;
  font-weight: 300;
  font-size: 14px;
  width: 277px;
  text-align: center;
  color: #0D0D0D;
}

.benefits a {
  font-family: MuseoModerno;
  text-transform: uppercase;
  color: #C70101;
}

.benefits img {
  display: block;
  margin: 0 auto;
}

.benefits__wrapper {
  margin-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  width: 250px;
}

.header__logo img {
  width: 100%;
}

.header__official {
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  color: #FFFFFF;
}

.header span {
  display: block;
  font-size: 18px;
}

.header__phone {
  display: block;
  font-weight: bold;
  font-size: 18px;
  color: #FFFFFF;
  text-decoration: none;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

* {
  font-family: "Museo Sans Cyrl", sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 950px;
  margin: 0 auto;
}

@supports (-webkit-appearance:none) {
  .promo {
    background: url(../img/bg_header.webp) center center/cover no-repeat;
  }
}

@media (max-width: 800px) {
  .benefits__descr {
    width: 250px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 551px) {
  .header__official {
    display: none;
  }

  .header__contact {
    margin-bottom: 31px;
  }

  .promo__wrapper {
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .benefits__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  img {
    width: 30%;
  }

  .benefits__descr {
    width: 100%;
    margin-bottom: 20px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 360px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .button {
    margin-top: 20px;
  }

  .promo__header {
    font-size: 30px;
  }

  .promo__subheader {
    font-size: 17px;
  }

  .promo__icons {
    width: 100%;
  }

  .benefits__subheader {
    font-size: 25px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 320px) {
  .button_main {
    width: 100%;
  }

  .benefits__subheader {
    font-size: 21px;
  }

  .button {
    width: 100%;
  }

@supports (-webkit-appearance:none) {

}
}