.reviews{
    padding: 79px 0 49px 0;
    &__title{
        font-weight: bold;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
        color: #0D0D0D;
    }
    &__wrapper{
        margin-top: 60px;
        display: flex;
        align-items: center;
    }
    &__block{
        margin-left: 61px;
    }
    &__name{
        font-weight: bold;
        font-size: 18px;
        line-height: 18px;
        color: #0D0D0D;
    }
    &__marafon{
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #646464;
    }
    &__descr{
        margin-top: 10px;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #0D0D0D;
    }
    &__logo{
        img{
            width: 100%;
        }
    }


}