.catalog{
    padding-bottom: 100px;
    &__title{
        font-weight: normal;
        font-size: 30px;
        line-height: 45px;
        text-align: center;
        text-transform: uppercase;
        color: #0D0D0D;
    }
    &__tabs{
        margin-top: 70px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        padding-left: 0;
    }
    &__tab{
        width: 222px;
        height: 52px;
        background: rgba(0, 0, 0, 0.0001);
        border: 2px solid #D0D0D0;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 48px;
        text-align: center;
        text-transform: uppercase;
        color: #6B6B6B;
        transform: skewX(-25deg);
        margin: 0 5px;
        cursor: pointer;
        transition: 0.5s all;
        &:hover{
            box-shadow: 3px 3px 20px #C70101 ;
            border:none;
        }
        div{
            transform: skewX(25deg);  
        }
    
        &_active{
            background: #C70101;
            color:#fff ;
            border:none;
        }
    }
    &__content{
        margin-top: 60px;
    }
    &-item{
        width: 303px;
        min-height: 440px;
        background: #FFFFFF;
        border: 2px solid #E8E8E8;
        padding: 20px 20px 26px 20px ;
        &__img{
            max-width: 100%;
            height: 200px;
            display: block;
            margin: 0 auto;
        }
        &__subtitle{
            margin-top: 20px;
            font-weight: bold;
            font-size: 16px;
            line-height: 25px;
            text-align: center;
            color: #0D0D0D;
        }
        &__descr{
            margin-top: 16px;
            font-weight: 300;
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            color: #0D0D0D;
        }
        &__link{
            display: block;
            margin-top: 17px;
            font-weight: 500;
            font-size: 14px;
            text-align: center;
            text-decoration-line: underline;
            color: #C70101;
            &:hover{
                color: #C70101; 
            }
        }
        hr{
            background: #E8E8E8;
            margin-top: 19px;
            margin-bottom: 21px;
            border-bottom: none;
        }
        &__footer{
            display: flex;
            justify-content: space-between;
            align-items:center;
        }
        &__old-price{
            font-family: MuseoModerno;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            text-decoration-line: line-through;
            color: #555555;
        }
        &__price{
            font-weight: bold;
            font-size: 20px;
            line-height: 20px;
            color: #050505;
        }
    }
         
}