@media (max-width:800px){
    .benefits__descr{
        width:250px
    }
    .consultation__title{
        font-size: 30px;
    }
    .catalog__content{
        justify-content: space-around;
    }
}
@media (max-width:551px){
    .header__official{
        display: none;
    }
    .header__contact{
        margin-bottom: 31px;
    }
    .promo__wrapper{
        text-align: center;
        align-items: center;
    }

    .benefits__wrapper{
        flex-direction: column;
        align-items:center
    }
    .benefits_icon{
       
    }
        img{
        width:30%;
        }
    .benefits__descr{
        width: 100%;
        margin-bottom: 20px;
    }  
    
    .consultation{
        text-align: center;
    }
    .feed-form{
        margin: 0 auto;
        margin-top: 20px;
    }

    .carousel__inner {
        width: 100%;
        img{
            width: 100%;
        }
    }
    .catalog-item {
        width: 90%;
    }
    .catalog__tab {
        width: 150px;
    }
}
@media (max-width:480px){
    .catalog__tab {
        width: 100%;
        font-size: 15px;
    }
    .catalog-item {
        width: 100%;
    }
    .catalog-item__descr{
        font-size: 13px;
    }
}

@media (max-width:360px){
    .header{
        flex-direction: column;
    }
    .button{
        margin-top: 20px;
    }
    .promo__header{
    font-size: 30px;
    }
    .promo__subheader{
        font-size: 17px;
    }
    .promo__icons{
        width: 100%;
    }
    .benefits__subheader{
        font-size: 25px;
    }
    .consultation__title {
        font-size: 25px;
    }
    .consultation__descr {   
        font-size: 17px;
    }
    .catalog__tab {
        width: 90%;
    }
    .catalog__tabs {
        flex-direction: column;
    }
    .catalog__title {
        font-size: 25px;
    }

}
@media (max-width:320px){
    .button{
        width:100%;
    }
    .button_main{
        width:300px;
    }

    .benefits__subheader {
        font-size: 21px;
    }
   
    .consultation__title {
        font-size: 21px;
    }
    .consultation__descr {   
        font-size: 15px;
    }
    .catalog-item__descr {
        font-size: 14px;
    }
}
